.login-form {
    padding: 24px;
    max-width: 400px;
    min-width: 200px;
    margin: 100px auto 0;
    border: 1px solid var(--nord3);
    border-radius: 8px;
    background-color: var(--tui-background-neutral-2-hover);

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    input {
        height: 40px;
        border: 1px solid var(--nord3);
        border-radius: 8px;
        width: 100%;
    }
    &__submit {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        input{
            width: fit-content;
        }
        input:hover {
            background-color: var(--nord3);
        }

    }
}
