* {
	padding: 0px;
	margin: 0px;
	border: none;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Links */
a, a:link, a:visited  {
    text-decoration: none;
}
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
	display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}
ul, ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
img, svg {
	max-width: 100%;
	height: auto;
}
address {
  font-style: normal;
}
/* Form */
input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}
input::-ms-clear {
	display: none;
}
button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}
input:focus, input:active,
button:focus, button:active {
    outline: none;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
label {
	cursor: pointer;
}
legend {
	display: block;
}


:root {
    /* darck colors*/
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;

    /* light colors*/
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;


}

body {
    background-color: var(--nord0);
    color: var(--nord6);
    min-height: 100vh;
}

input {
    height: 40px;
    padding: 8px;
    vertical-align: center;
}

.btn {
    height: 40px;
    padding: 8px;
    text-align: center;
    vertical-align: center;
}
